.App {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 10px auto;
  padding: 20px;

  border: 1px solid black;
}

.chartAxis,
.chartType {
  display: flex;
  flex-direction: column;
}

.chartType {
  height: 70px;
  flex-wrap: wrap;
  align-content: space-between;
}

.chartAxis__item,
.chartType__item {
  margin: 10px;
  margin-left: 0;
}

@media (max-width: 800px) {
  .App {
    width: calc(100vw - 60px);
  }
}

@media (max-width: 500px) {
  .chartType {
    height: 100px;
  }
}